<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.up.pt/fe/els2023/ExternalDsl"
			class = "pt.up.fe.els2023.externalDsl.ExternalDslPackage"
			genModel = "model/generated/ExternalDsl.genmodel" />
	</extension>
</plugin>
